# Nastran Punch File

Author : Emanuele Cannizzaro

In [1]:
import os
import sys
import glob
import numpy as np
from IPython.core.display import display, HTML

In [2]:
sys.path.append(os.path.join('..', 'stress4analysis'))

In [3]:
import punch

In [4]:
fnames = glob.glob(os.path.join('..', 'data', '*.pch'))

In [5]:
for fname in fnames :
    display(HTML('<H1>{}</H1>'.format(os.path.basename(fname))))
    pch = punch.Punch()
    pch.read(fname)
    
    display(HTML('<H2>Cases</H2>'))
    cases = pch.cases
    display(HTML(cases.head().to_html()))
    
    display(HTML('<H2>Nodes</H2>'))
    nodes = pch.nodes
    display(HTML(nodes.head().to_html()))
    
    display(HTML('<H2>Elements</H2>'))
    elements = pch.elements
    display(HTML(elements.head().to_html()))
    
    display(HTML('<H1>Displacements</H1>'))
    displacements = pch.displacements
    display(HTML(displacements.head().to_html()))
    
    display(HTML('<H1>SPCFs</H1>'))
    spcfs = pch.spcfs
    display(HTML(spcfs.head().to_html()))
    
    display(HTML('<H1>MPCFs</H1>'))
    mpcfs = pch.mpcfs
    display(HTML(mpcfs.head().to_html()))
    
    display(HTML('<H1>Forces</H1>'))
    forces = pch.forces
    display(HTML(forces.head().to_html()))
    
    display(HTML('<H1>Stresses</H1>'))
    stresses = pch.stresses
    display(HTML(stresses.head().to_html()))
                 
    display(HTML('<H1>Strains</H1>'))
    strains = pch.strains
    display(HTML(strains.head().to_html()))

$ This file contains element force for QUAD => not implemented!

In [6]:
for key in pch.DATATYPES.keys() :
    print('{} -> {}'.format(key, pch.DATATYPES[key]))

node -> ['displacements', 'accelerations', 'spcfs', 'mpcfs']
element -> ['forces', 'stresses', 'strains']

In [7]:
if 0 == 1:
    pch = punch.Punch()
    pch.read(os.path.join('..', 'data', 'sol111_sort1_real.pch'))
    forces = pch.forces
    np.testing.assert_array_equal(forces[(forces['Case'] == 3) & 
                                                    (forces['Element'] == 4002) & 
                                                    (forces['Frequency'] == 300.)][['Fx']].values,
                              np.array([[-2.556116E-02 + 1j * -1.003306E-03]]))

In [8]:
if 0 == 1:
    pch = punch.Punch()
    pch.read(os.path.join('..', 'data', 'sol111_sort1_real.pch'))
    accelerations = pch.accelerations
    np.testing.assert_array_equal(accelerations[(accelerations['Case'] == 3) & 
                                                    (accelerations['Node'] == 2019) & 
                                                    (accelerations['Frequency'] == 300.)][['x', 'y', 'z', 'rx', 'ry', 'rz']].values,
                              np.array([[-5.901583E-02 + 1j * 5.758094E-06, 3.397639E+00 + 1j * 5.860707E-02, 
                                         -7.239647E+00 + 1j * -3.824526E-01, -3.386399E+02 + 1j * -5.866992E+00, 
                                         -7.557324E+00 + 1j * 2.052105E-02, -2.775479E+00 + 1j * 1.589619E-04]]))

In [9]:
if 0 == 1:
    pch = punch.Punch()
    pch.read(os.path.join('..', 'data', 'sol111_sort1_real.pch'))
    frequencies = pch.frequencies
    np.testing.assert_array_almost_equal(frequencies['ID'].values, np.array(range(5, 301)), 4)